*{
    font-family: Bahnschrift;
}

QMainWindow, QWidget{
    background-color: #252525;
    color: mintcream;
}

QScrollArea{
    border: 1px solid mintcream;
    
}

QCheckBox::indicator{
    width: 1.5em;
    height: 1.5em;
}

#MenuButton ,#RefreshButton{
    border-radius: 1em;
    background-color: #333333;
    padding: 0.5em 1em;
    border: 0.5px solid mintcream;
    icon-size: 2em;
}

#MenuButton:hover ,#RefreshButton:hover{
    color: #ffb1dd;
    background-color: #383838;
}

#MenuButton:pressed , #RefreshButton:pressed{
    color: #d394b8;
    border-color: antiquewhite;
    background-color: #303030;
}

#MenuButton{
    padding: 0.5em 1.5em;
}




QLineEdit{
  color: mintcream;
  border: 1px solid dodgerblue;
  border-radius: 10px;
  padding: 10px 25px;
  background: transparent;
  max-width: 190px;
}
QLineEdit:focus{
    border-width: 1.5px;
    border-color: aqua;
}

#TDL{
    border-radius: 1em;
    background-color: #ffb1dd;
    padding: 0.5em 1em;
    color: #252525;
}

#TDL:hover{
    background-color: #ffc4e5;
}

#TDL:pressed{
    background-color: #d394b8;
}

.TDButton, #DialogButton QPushButton{
    border-radius: 1em;
    background-color: #333333;
    padding: 1em 1em;
    color: mintcream;
    border: 0.5px solid dodgerblue;
}

.TDButton:hover , #DialogButton QPushButton:hover{
    background-color: #383838;
    border-width: 1.5px;
}

.TDButton:pressed , #DialogButton QPushButton:pressed{
    background-color: #303030;
    border-width: 0.5px;
    color: rgb(180, 182, 181);
    border-color: blue;
}

#ListDeleteButton , #TaskDeleteButton{
    background-color: crimson;
    padding: 0.5em 0.5em;
    color: #252525;
    border-radius: 1em;
    icon-size: 1.5em;
}
#ListDeleteButton:hover , #TaskDeleteButton:hover{
    background-color: red;
}

#ListDeleteButton:pressed , #TaskDeleteButton:pressed{
    background-color: darkred;
}

#InvalidWarning{
    color: red;
}

.TaskInput{
    padding: 1em 5em;
}

.Heading{
    margin-top: 2em;
    margin-bottom: 1em;
}